@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or gambarino.css */
.font-gambarino {
     font-family: 'Gambarino-Regular', sans-serif;
}

.tagline {
     font-family: 'Switzer-Semibold', sans-serif;
     color:#781E26;
     size: 16px;
}

html, body {
     background-color: #E9E4DD;
}

.navbar-background {
     background-color: #E9E4DD;
}

.navbar-text-color {
     color: #781E26;
}

.navheading {
     font-family: 'Switzer-Semibold';
     color: #2E090D;
     font-size: 16px;
}

.font-switzerSemibold {
     font-family: 'Switzer-Semibold', sans-serif;
   }

h1, h2 {
     font-family: 'Gambarino', serif;
     color: #781E26;
}

h3 {
     font-family: '/public/fonts/Switzer-Semibold.ttf', serif;
     color: #2E090D;
}