@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or gambarino.css */
.font-gambarino {
     font-family: 'Gambarino-Regular', sans-serif;
}

.tagline {
     font-family: 'Switzer-Semibold', sans-serif;
     color:#781E26;
     size: 16px;
}

html, body {
     background-color: #E9E4DD;
}

.navbar-background {
     background-color: #E9E4DD;
}

.navbar-text-color {
     color: #781E26;
}

.navheading {
     font-family: 'Switzer-Semibold';
     color: #2E090D;
     font-size: 16px;
}

.font-switzerSemibold {
     font-family: 'Switzer-Semibold', sans-serif;
   }

h1, h2 {
     font-family: 'Gambarino', serif;
     color: #781E26;
}

h3 {
     font-family: '/public/fonts/Switzer-Semibold.ttf', serif;
     color: #2E090D;
}

h5 {
     font-family: '@/public/fonts/Switzer-Semibold.ttf';
     font-size: 10;
     font-weight: 400;
     text-align: left;
     text-decoration-skip-ink: none;
     color: #781E26;
}

.image-container {
     position: relative;
     width: 100%;
     height: 300px; /* Adjust the height as needed */
     overflow: hidden;
   }

.image-container img {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
   }